.banner{
    width: 100%;
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url(/assets/img/banner-image.png);
    background-position: center;
    background-size: cover;
}
.banner__text{
    width: 70%;
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 1.25rem;
}
.banner__text h1{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 1.375rem;
}
.banner__text p{
    font-family: 'Raleway';
    font-weight: 600;
    font-size: .875rem;
    color: #FFFFFF;
    margin-top: 10px;
}
.banner__text button{
    background-color:#2A7AE4;
    width: 7.375rem;
    height: 2.5rem;
    color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (min-width: 760px) {
    .banner{
        height: 22rem;
    }
    .banner__text{
        height: 10rem;
    }
    .banner__text h1{
        font-size: 52px;
    }
    .banner__text p{
        font-size: 22px;
    }
}
@media screen and (min-width: 1024px){
    .banner{
        height: 22rem;
    }
    .banner__text{
        height: 10.625rem;
    }
    
}